<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="{{ url_for('static', filename='img/ebms-favi.png') }}" rel="icon" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables2.min.css') }}">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet">
    <style>
        .center {
            margin: 0;
            position: absolute;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        body {
            font-family: 'Inter', sans-serif;
            /* background-color: black;
            color: grey; */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title> ebms: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <a class="navbar-brand" href="/" style="font-weight: 700;">
            <span class="blue">&nbsp;e</span><span class="red">b</span><span class="yellow">m</span><span class="green">s</span>
        </a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto mt-2">
                {% if not session['user_id'] %}
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="/catalogue">Catalogue</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/history">History</a></li> -->
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                {% if session['user_id'] and session["user_type"] == 'customer' %}
                <li class="nav-item"><a class="nav-link" href="/account/cart">Cart</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="/blog">Blog&nbsp;</a></li>
                {% if session['user_id'] %}
                <li class="nav-item"><a class="btn btn-outline-primary" href="/logout"><span style="font-size:;">Log Out</span></a></li>
                {% else %}
                <li class="nav-item"><a class="btn btn-primary" href="/login"><span style="font-size:;">Log In</span></a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <main class="container p-5">
        {% block main %}{% endblock %}
    </main>

    <footer class="small text-center text-muted">
        &copy; 2023 by ebms. {% if not session['user_id'] %} <span>Login as <a href="/adminlogin">admin</a> to access admin features.</span> {% endif %}
        <br> &nbsp;
    </footer>
</body>

</html>