<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="login-container">
        <h2>Login Page</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <p class="flash-message">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form action="/login" method="POST">
            <div class="input-group">
                <label for="user_type">Choose user type:</label><br>
                <input type="radio" id="customer" name="user_type" value="customer">
                <label for="customer">Customer</label><br>
                <input type="radio" id="supplier" name="user_type" value="supplier">
                <label for="supplier">Supplier</label><br>
            </div>
            <div class="input-group">
                <label for="customer_id">Email ID:</label><br>
                <input type="text" id="customer_id" name="customer_id" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</body>

</html>
